/* Desktop View */

@media screen and (min-width: 992px) {
    .ContentContainer {
        padding: 2%;
        height: 676px;
    }

    .firstTitle {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        margin-top: 6em;
        text-align: start;
        font-weight: 450;
    }

    .secondTitle {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        text-align: start;
        margin-top: 1.2em;
        font-weight: 250;
    }

    .imageSlider {
        height: 689px;
        width: 100%;
    }

    .slideLabel {
        font-size: 32px;
        font-weight: 450;
        color: rgb(235, 167, 22);
        line-height: 11px;
    }

    .headerTitle {
        margin-top: 2.5em;
        color: #fcb900;
        font-size: 57px;
        font-weight: 600;
        letter-spacing: -1px;
        font-family: 'Poppins';
        text-align: start;
        text-shadow: 0 1px 3px rgb(0 0 0 / 90%);
    }

    .paragraphDescription {
        font-size: 25px;
        font-weight: 450;
        text-align: start;
        font-family: 'Poppins', sans-serif;
        color: #0e2749;
    }

    .cardContainer {
        margin-top: 2em;
        margin-bottom: 2em;
        -webkit-box-shadow: 0px 10px 48px 0px rgb(224, 223, 217);
        -moz-box-shadow: 0px 10px 48px 0px rgb(149, 147, 141);
        box-shadow: 0px 10px 48px 0px rgb(126, 125, 123);
        border-radius: 30px !important;
        border-top-right-radius: 100px !important;
        border-bottom-left-radius: 100px !important;
    }

    .cardImage {
        height: 35em !important;
        border-radius: 30px !important;
        border-top-right-radius: 100px !important;
        border-bottom-left-radius: 100px !important;
    }

    .topButtons {
        border: 0 !important;
        min-width: 125px;
        min-height: 45px;
        background: linear-gradient(0.51deg, #fcb900 -32.95%, #fcb900 135.45%);
        border-radius: 35px !important;
        margin-right: 30em;
        padding: 2%;
    }

    .topButtonText {
        font-family: "Open Sans", Helvetica;
        color: #0e2749;
        font-size: 20px;
        font-weight: 700;
    }
}