/* Desktop View */

@media screen and (min-width: 992px) {
    .contentContainer{
        height: 226px;
    }

    .heading{
        font-family: 'Poppins', sans-serif;
        margin-top:1.8em;
        text-align: left;
        font-size: 31px;
        font-weight: 350;
        line-height: 21px;
        color: #0e2749;
    }

    .description{
        text-align: left;
        font-family: 'Monsterract', sans-serif;
        font-size: 21px;
        font-weight: 250;
        color: #0e2749;
    }

    .dot{
        color: rgb(228, 162, 20);
    }

    .horizontalLine{
        width: 100%;
        height: 1px;
        background-color: #0e2749;
        margin-top: 1em;
    }

    .copyrightTitle{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #0e2749;
        text-align: center;
    }
}